@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');

/*	ГЛОБАЛЬНЫЕ	*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'Arial', sans-serif;
	background-color: #849d8f;
	color: #ffffff;
}

a {
	color: inherit;
	text-decoration: none;
}

.product a, .main-nav a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.product a:hover, {
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

select, input, textarea {
	font-family: inherit;
	color: #323232;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	border: none;
	box-shadow: 0 0 0 1px #b2b2b2;
}

select::placeholder, input::placeholder, textarea::placeholder {
	color: #999999;
	font-weight: 400;
}

select:hover, input:hover, textarea:hover {
	box-shadow: 0 0 0 2px #9a9a9a;
	border: none;
}

select:focus, input:focus, textarea:focus {
	outline: none;
	border: none;
	box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52); 
}

button {
	color: #fefefe;
	font-weight: 700;
	border: none;

	cursor: pointer;
}

.main-nav, .sub-menu, .user-nav, .slider-content,
.pagintation, .description, .social-links, 
.footer-documents {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*  СОСТОЯНИЯ  */

.main-catalog a:hover, footer a:hover,
.product-list a:hover, .product-list a:focus,
.main-catalog a:focus, footer a:focus {
	color: #ffbc9e;
	outline: none;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.main-blog a:hover, .login a:hover,
.main-blog a:focus, .login a:focus {
	color: #e84d37;
	text-decoration: none;
	border-bottom: 1px solid rgba(232, 77, 55, 0.3);
} 

/*		VISUALLY-HIDDEN		*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*  CONTAINER  */

.container {
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	padding-top: 9px;
	padding-right: 27px;
	padding-left: 27px;

	position: relative;
}

/*  HEADER  */

.main-header {
	display: flex;
	flex-wrap: wrap;
}

.main-navigation {
	flex-basis: 100%;
}

.main-navigation, .main-nav, .user-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.main-logo {
	height: 60px;
}

.main-nav {
	margin-left: 14px;
	max-width: 382px;
}

.main-nav a {
	display: block;
}

.main-nav li {
	margin-right: 8px;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	
	padding: 10px 10px;
}



.main-nav li:hover,
.main-nav li:active {
	background-color: #f7f6f3;
	border-radius: 40px;
	color: #333333;
	border: none;	
}

.main-nav li:active {
	border-radius: 40px;
	box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
	outline: none;
}

.main-nav .active {
	background-color: #d07058;
	border-radius: 40px;
	color: #ffffff;
}

.main-nav .active a {
	border: none;
}

.user-nav {
	margin-left: auto;
}

.user-nav a {
	display: block;
	position: relative;
	padding: 9px 34px 9px 44px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 40px;
}

.user-nav a[href="#login"] {
	padding: 9px 16px 9px 43px;
}

.user-nav li {
	margin-right: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.user-nav li:first-child {
	text-indent: -9999px;
	width: 32px;
	height: 32px;
	padding: 0;
	background-image: url("../img/loupe.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.user-nav li:first-child a {
	width: 32px;
	height: 32px;
	padding: 0;
}

.user-nav li:first-child:hover {
	text-indent: -9999px;
	width: 32px;
	height: 32px;
	padding: 0;
	background-image: url("../img/loupe-black.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.user-nav li:last-child {
	margin-right: 0;
}

.main-basket-empty a::before {
	content: " ";
	width: 21px;
	height: 19px;
	background-image: url("../img/basket.svg");
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 15px;
	top: 7px;
}

.main-basket-empty a:hover::before {
	content: " ";
	width: 21px;
	height: 19px;
	background-image: url("../img/basket-black.svg");
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 15px;
	top: 7px;
}

.catalog-basket-full {
	background-color: #f7f6f3;
	border-radius: 40px;
	color: #323232;
}

.catalog-basket-full a {
	padding-right: 15px;
}

.catalog-basket-full a.basket-img::before {
	content: " ";
	width: 21px;
	height: 19px;
	background-image: url("../img/basket-red.svg");
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 15px;
	top: 7px;
}

.user-nav a[href="#login"]::before {
	content: " ";
	width: 21px;
	height: 20px;
	background-image: url("../img/entrance-white.svg");
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 15px;
	top: 5px;
}

.user-nav li:nth-child(2):hover a[href="#login"]::before {
	content: " ";
	width: 21px;
	height: 20px;
	background-image: url("../img/entrance.svg");
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 15px;
	top: 7px;
}

.user-nav li:hover {
	background-color: #f8f7f4;
	color: #333333;
	border-radius: 40px;
}

.header-hours {
	margin-left: auto;
	font-weight: 700;
	text-align: right;
}

.header-hours p {
	font-size: 14px;
	line-height: 16px;
	margin-top: 0;
	margin-bottom: 5px;
}

.header-hours b {
	font-size: 22px;
	line-height: 24px;	
}

.user-nav li:first-child:hover {
	color: black;
}

/*  SLIDER  */

.slide-1 {
	background-color: #849d8f;
}

.slide-2 {
	background-color: #8996a6;
}

.slide-3 {
	background-color: #9d8b84;
}

.main-slider .container {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.slider-content {
	flex-basis: 100%;
}

.slider-content li {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 270px;
}

.slider-content img {
	order: -1;
	z-index: -1;
	position: absolute;
	top: -115px;
}

.slider-content h3 {
	font-weight: 700;
	font-size: 60px;
	line-height: 60.35px;
	max-width: 700px;
	text-align: center;
	margin: 0;
}

.slider-button {
	margin: 0 auto;
	margin-top: 30px;
}

.slider-button a {
	display: block;
	font-weight: 700;
	font-size: 32px;
	line-height: 44px;
	padding: 10px 40px;
}

.slider-button a.order {
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button {
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.6);
  border-radius: 40px;
}

.button:hover {
	background-image: 
	linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) ),
	linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0px 2px 2px 0px #ac1000;
	border-radius: 40px;
}

.button:focus {
	outline: none;
	background-image: 
	linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07) ),
	linear-gradient(to bottom, #e74a35, #f26843);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
	border-radius: 40px;
}


.pagination {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;

	position: absolute;
	bottom: 22px;
	left: 1;
}

.pagination button {
	text-indent: -9999px;
	margin-right: 8px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid #ffffff;
	cursor: pointer;
}

.pagination button:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.pagination button:focus {
	outline: none;
	background-color: rgba(255, 255, 255, 1);
}

button.main-slider-active {
	background-color: #ffffff;
}


/*  BANNERS  */

.main-banners .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main-banners article {
	width: 560px;
	box-sizing: border-box;
	border-radius: 15px;
	padding-left: 20px;
	padding-bottom: 4px;
	padding-top: 18px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	padding-right: 20px;
}

.main-banners h3 {
	margin: 0;
	font-size: 35px;
	line-height: 41px;
}

.main-banners p {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 45px;
	margin-top: 12px;
}

.main-banners a {
	font-size: 18px;
	line-height: 24px;
	padding: 11px 22px;
	margin-bottom: 20px;
	align-self: flex-end; 
}

.sale-raspberry {
	background-color: #681122;
	background-image: url("../img/raspberry.jpg");	
	background-position: -50px -94px;
}

.sale-chocolate {
	background-color: #402619;
	background-image: url("../img/chocolate.jpg");	
	background-position: -218px -104px;
}

/*  ITEMS  */

.main-catalog .container,
.product-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 30px;
}

.main-catalog article,
.product-list article {
	width: 267px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.main-catalog .product img,
.product-list .product img {
	border-radius: 50%;
	order: -1;
}

.main-catalog .product h3,
.product-list .product h3  {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	order: 1;
	margin-top: 22px;
	margin-bottom: 0;

	z-index: 10;
}

.product-price {
	font-weight: 700;
	font-size: 45px;
	line-height: 45px;
	margin-top: -57px;
}

.product-price span.kg {
	font-size: 30px;
}

.product-price span.rouble {
	display: inline-block;
	vertical-align: baseline;
	width: 35px;
	height: 45px;
	text-indent: -9999px;
	background-image: url("../img/ruble.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.product .promo-text {
	position: absolute;
	top: 0;
	left: 0;
}

/*  DESCRIPTION  */

.main-description {
	color: #323232;
	background-color: #eadcc0;
	background-image: url("../img/waffle.jpg");
	border-radius: 20px;
	padding-top: 25px;
	padding-left: 20px;
}

.main-description .description-text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin-bottom: 0;
	margin-top: 20px;
}

.description-text li {
	box-sizing: border-box;
	width: 560px;
	margin-bottom: 22px;
	position: relative;
}

.main-description h3 {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	margin: 0;
}

.description-text p {
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	max-width: 480px;
	padding-left: 56px;
}

/*  КАРТИНОЧКИ  */

.description-text p::before {
	content: " ";
	width: 49px;
	height: 49px;
	position: absolute;
	top: -15px;
	left: 0;

	background-image: url("../img/ice-cream.svg");
}

.description-text li:nth-child(2) p::before {
	background-image: url("../img/cow.svg");
}

.description-text li:nth-child(3) p::before {
	background-image: url("../img/eco.svg");
}

.description-text li:nth-child(4) p::before {
	background-image: url("../img/thermometer.svg");
}


/*  ARTICLES && SUBSCRIPTION  */

.temp-container {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 40px;
}

.main-blog, .main-subscription {
	box-sizing: border-box;
	width: 560px;
}

.main-blog {
	padding: 25px 220px 0 20px;
	color: #323232;
	background-image: url("../img/strawberry.jpg");
	background-position: -50px -224px;
	border-radius: 10px;
}


.main-blog p {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	margin-bottom: 5px;
}

.main-blog a {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.main-subscription {
	background-image: url("../img/bg-post.svg");
	background-repeat: no-repeat;
}

.main-subscription-bg {
	background-color: #f8f7f4;
	border-radius: 10px;
	margin: 5px;
	padding: 30px 15px 33px 20px;
}

.main-subscription .description {
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
	margin: 0;
	padding-bottom: 35px;
}

.main-subscription .subscribe-form {
	display: flex;
	justify-content: space-between;
}

.main-subscription .subscribe-form input {
	border-radius: 5px;
	padding: 10px 14px;
	flex-grow: 1;
	margin-right: 11px;
}

.main-subscription .subscribe-form button {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	padding: 0 18px; 
}


/*  MAP  */

.main-map {
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	min-height: 430px;
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

.main-map .map {
	width: 1200px;
	min-height: 430px;
	position: absolute;
	z-index: -1;

	background-image: url("../img/map.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

.main-feedback {
	width: 302px;
	box-sizing: border-box;

	background-color: #fdfefe;
	color: #323232;
	border-radius: 10px;

	padding-left: 25px;
	padding-top: 30px;
	padding-bottom: 40px;
	margin-top: 65px;
	margin-right: 27px;
}

.main-feedback p {
	font-size: 14px;
	line-height: 20px;
	margin: 0;
}

.main-feedback b {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.main-feedback a {
	padding: 10px 28px;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #fefefe;
	margin-bottom: 44px;
}

.main-feedback .contacts {
	margin-bottom: 20px;
	padding-right: 20px;
}

.main-feedback .contacts p {
	margin-right: 40%;
}

.main-feedback .phone {
	margin-bottom: 40px;
}

/*  FOOTER  */

.main-footer .container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.social-links {
	display: flex;
	padding-top: 15px;
	padding-left: 5px;
}

.social-links li {
	border-radius: 50%;
	margin-right: 12px;
	background-image: url("../img/twitter.svg");
	background-position: center;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	border: 2px solid rgba(255, 255, 255, 0.5);

	opacity: 0.8;
}

.social-links li:last-child {
	margin-right: 0;
}

.social-links li:hover {
	opacity: 1;
}

.social-links li:active {
	opacity: 0.9;
	border: 2px solid rgba(255, 255, 255, 0.7);
}

.social-links a {
	display: block;
	text-indent: -9999px;
	height: 100%;
}

.social-links li:nth-child(2) {
	background-image: url("../img/instagram.svg");
}

.social-links li:nth-child(3) {
	background-image: url("../img/fb.svg");
}

.social-links li:last-child {
	background-image: url("../img/vk.svg");
}

.footer-documents {
	max-width: 330px;
	display: flex;
	flex-flow: row wrap;

	padding-top: 10px;
	padding-left: 30px;
}

.footer-documents li {
	flex-basis: 50%;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 2px;
	position: relative;
}

.footer-documents li:nth-child(3),
.footer-documents li:nth-child(4) {
	margin-bottom: 0;
}

.footer-documents a,
.footer-copyright .copyright-underlined {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-documents a:hover,
.footer-copyright .copyright-underlined:hover {
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-documents li:first-child {
	font-weight: 700;
}

.docs-heart::before {
	content: " ";
	width: 15px;
	height: 13px;
	position: absolute;
	top: 2px;
	left: -22px;
	background-image: url("../img/heart.svg");
}

.footer-copyright a:hover {
	border: none;
}

.footer-copyright a:focus {
	border: none;
}

.footer-copyright p {
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}

/*  HIDDEN: FEEDBACK  */

.feedback {
	box-sizing: border-box;
	width: 477px;
	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	color: #323232;
	padding-top: 20px;
	padding-left: 23px;
	padding-bottom: 27px;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	z-index: 1000;
}

.feedback p {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	margin-top: 0;
	margin-bottom: 25px; 
}

.feedback-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 25px;
}

.feedback-form div {
	margin-bottom: 20px; 
}

.feedback-form div:last-of-type {
	margin-bottom: 25px; 
}

.feedback-form input {
	box-sizing: border-box;
	width: 267px;
	border-radius: 5px;
	font-size: 16px;
	line-height: 24px;

	padding: 10px 0 10px 15px;
}

.feedback-form textarea {
	width: 428px;
	border-radius: 5px;
	font-size: 16px;
	line-height: 24px;
	
	box-sizing: border-box;
	padding-top: 10px;
	padding-left: 14px;
}

.feedback-form button {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;

	align-self: flex-end;
	padding: 10px 24px 10px 24px;
}

.feedback .modal-close {
	text-indent: -9999px;
	width: 18px;
	height: 18px;
	background-image: url("../img/cross-big.svg");
	background-color: transparent;
	background-repeat: no-repeat;

	position: absolute;
	top: 20px;
	right: 17px;
}


body.overlay:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

/*  HIDDEN: SEARCH  */

.search {
	box-sizing: border-box;
	width: 341px;
	border-radius: 10px;
	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	padding: 15px 20px;

	position: absolute;
	top: 60px;
	right: 256px;

	text-indent: 0;
}

.search-form input {
	width: 100%;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 24px;
	border-radius: 5px;
	padding: 15px 0 15px 14px;
}


/*  HIDDEN: LOGIN  */

.login {
	box-sizing: border-box;
	width: 277px;
	border-radius: 10px;
	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	padding: 20px 20px;

	position: absolute;
	top: 60px;
	right: 152px;
}

.login-form {
	display: flex;
	flex-flow: row wrap;
}

.login-form p {
	flex-basis: 100%;
	margin-top: 0;
	margin-bottom: 20px;
}

.login-form input {
	width: 100%;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 24px;
	border-radius: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 14px;
}

.login-form button {
	padding: 10px 24px;
	font-size: 18px;
	line-height: 24px;
}

.login a {
	display: inline;
	color: #323232;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	padding: 0;
	border-radius: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}
.login a:hover {
    color: #e84d37;
}

.login-links {
	flex-basis: 50%;
	margin-left: auto;
}

/*  HIDDEN: SUB-MENU  */

.sub-menu {
	box-sizing: border-box;
	width: 143px;
	border-radius: 10px;
	background-color: #f8f7f4;
	color: #323232;

	padding: 0;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

	position: absolute;
	top: 43px;
	left: -15px;
}

.sub-menu li {
	margin-right: 0;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	padding: 0;	
}

.sub-menu li:first-child a {
	font-weight: bold;
}

.sub-menu .divider {
	position: relative;
}

.sub-menu .divider a::after {
	content: " ";
	width: 128px;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	bottom: 0;
	left: 6px;
}

.sub-menu a {
	display: block;
	padding: 10px 0;
	padding-left: 20px;
	border-bottom: none;
}

.sub-menu .sub-menu-active {
	background-color: #d07058;
}

.sub-menu li:hover {
	background-color: #fbded7;
	border-radius: 0;
}

.sub-menu .sub-menu-active:hover {
	background-color: #d07058;
}

.sub-menu li:active {
	background-color: #f6b5a5;
	outline: none;
	border-radius: 0;
	box-shadow: none;
}

.sub-menu li:first-child:hover,
.sub-menu li:first-child:active {
	border-radius: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: none;
}

.sub-menu li:last-child:hover,
.sub-menu li:last-child:active {
	border-radius: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: none;
}

/* ВСПЛЫВАЮЩИЕ ОКНА */

.hidden {
	display: none;
}

.main-catalog-hover {
	position: relative;
}

.main-catalog-hover:hover ul,
.main-search-hover:hover .search,
.main-login-hover:hover .login {
	display: block;
	z-index: 1;
}


/*
 ██████╗ █████╗ ████████╗ █████╗ ██╗      ██████╗  ██████╗ 
██╔════╝██╔══██╗╚══██╔══╝██╔══██╗██║     ██╔═══██╗██╔════╝ 
██║     ███████║   ██║   ███████║██║     ██║   ██║██║  ███╗
██║     ██╔══██║   ██║   ██╔══██║██║     ██║   ██║██║   ██║
╚██████╗██║  ██║   ██║   ██║  ██║███████╗╚██████╔╝╚██████╔╝
 ╚═════╝╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝╚══════╝ ╚═════╝  ╚═════╝ 

*/

.catalog-container .container {
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;

	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*  BREADCRUMBS  */

.breadcrumbs {
	order: -1;
	list-style: none;
	padding: 0;

	display: flex;
	flex-flow: row wrap;
	margin: 0;
	margin-top: -25px;
}

.breadcrumbs li {
	font-size: 14px;
	line-height: 16px;
}

.breadcrumbs li a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-container h1 {
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;
	margin-bottom: 25px;
	margin-top: 5px;
}

.breadcrumbs span {
	margin: 0 7px;
}

/*  FILTER  */

.catalog-filters-form {
	max-width: 879px;
	display: flex;
	flex-wrap: wrap;
}

.catalog-sort, .catalog-price {
	display: flex;
	flex-direction: column;
}

.catalog-flavors, .catalog-fat {
	border: none;
	padding: 0;
	margin: 0;
}

.catalog-sort label, .catalog-price label,
.catalog-fat legend, .catalog-flavors legend {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.catalog-sort select,
.catalog-price-range, .catalog-fat-wrapper,
.catalog-flavors-wrapper {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

.catalog-sort, .catalog-price, .catalog-fat {
	margin-bottom: 15px;
	margin-right: 15px;
    position: relative;
}

.form-btn, .catalog-flavors label, .catalog-fat label,
.catalog-sort option {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.catalog-sort label,
.catalog-price label,
.catalog-fat legend,
.catalog-flavors legend {
	margin-bottom: 7px;
	margin-left: 15px;
}

.catalog-sort select {
	padding: 5px 30px 5px 15px; 
	color: #ffffff;
	font-weight: 500;
	
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;

    box-shadow: none;
}

.catalog-sort .select-arrow {
	width: 11px;
	height: 10px;
	position: absolute;
	bottom: 15px;
	right: 15px;

	z-index: -1;

	background-image: url("../img/select-arrow.svg");
	background-position: top;
	background-size: cover;
}

.catalog-sort select:hover {
	color: #323232;
}

.catalog-sort select:hover + .select-arrow {
	background-image: url("../img/select-arrow-black.svg");
	z-index: 1;
}

.catalog-sort select:focus {
	color: #323232;
	background-color: #ffffff;
}

.catalog-sort select:focus + .select-arrow {
	background-image: url("../img/select-arrow-black.svg");
	z-index: 1;
}

.catalog-sort option {
	color: #323232;
}

.catalog-price-range {
	width: 218px;
	height: 36px;

	position: relative;
}

.catalog-price-range::after {
	content: " ";
	width: 176px;
	height: 4px;
	background-color: rgba(255, 255, 255, 0.5);

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.catalog-price-range::before {
	content: " ";
	width: 106px;
	height: 4px;
	background-color: rgb(248, 247, 244);

	position: absolute;
	top: 50%;
	left: 37px;
	transform: translate(0, -50%);
}

.catalog-price-range .price {
	width: 20px;
	height: 20px;
	border: none;
	padding: 0;

	position: absolute;
	top: 50%;
	left: 34px;
	transform: translate(0, -50%);

	background-image: url("../img/filter-button.svg");
	background-color: transparent;

	z-index: 10;
}

.catalog-price-range button:hover {
	transform: scale(1.1);
	top: 7px;
}

.catalog-price-range button:focus {
	outline: none;
}

.catalog-price-range button.max {
	left: 132px;
}

/* ЖИРНОСТЬ */

.catalog-fat {
	margin-right: 0;
}

.catalog-fat-wrapper {
	box-sizing: border-box;
	width: 414px;
	padding: 10px 0 10px 45px;
}

.catalog-fat label {
	position: relative;
	margin-right: 45px;
	cursor: pointer;
}

.catalog-fat label:last-child {
	margin-right: 0;
}

.catalog-fat input[type="radio"] + .radio-input {
	position: absolute;
	top: -1px;
	left: -32px;

	width: 22px;
	height: 22px;

	background-image: url("../img/radio-off.svg");
	background-size: cover;
	opacity: 0.8;
}

.catalog-fat input[type="radio"]:checked + .radio-input {
	background-image: url("../img/radio-on.svg");
}

.catalog-fat input[type="radio"]:hover + .radio-input,
.catalog-flavors input[type="checkbox"]:hover + .checkbox-input {
	opacity: 1;
}

.catalog-fat input[type="radio"]:disabled + .radio-input,
.catalog-flavors input[type="checkbox"]:disabled + .checkbox-input {
	opacity: 0.4;
}

/* НАПОЛНИТЕЛИ */

.catalog-flavors-wrapper {
	box-sizing: border-box;
	width: 702px;
	padding: 10px 0 10px 45px;

	margin-right: 14px;
}

.catalog-flavors label {
	position: relative;
	margin-right: 50px;
	cursor: pointer;
}

.catalog-flavors label:last-child {
	margin-right: 0;
}

.catalog-flavors input[type="checkbox"] + .checkbox-input {
	position: absolute;
	top: -1px;
	left: -32px;

	width: 23px;
	height: 23px;

	background-image: url("../img/checkbox-off.svg");
	background-size: cover;
	opacity: 0.8;
}

.catalog-flavors input[type="checkbox"]:checked + .checkbox-input {
	background-image: url("../img/checkbox-on.svg");
	width: 27px;
}

.form-btn {
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px solid #ffffff;
	border-radius: 20px;
	width: 143px;
	height: 36px;

	align-self: flex-end;

	box-shadow: none;
}

.form-btn:hover {
	background-color: rgb(255, 255, 255);
	color: #323232;
	box-shadow: none;
}

.form-btn:focus {
	box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
	background-color: rgb(234, 234, 234);
	color: #323232;

}

/*  PRODUCT LIST  */

.product-list {
	flex-wrap: wrap;
	margin-top: 35px;
	margin-bottom: 45px;
}

.product-list .product {
	margin-bottom: 35px;
	position: relative;
}

/*  HOVER  */

.product:hover .product-hover {
	display: flex;
	justify-content: center;	
}

.product-hover {
	position: absolute;
	left: -13px;
	top: -6px;
	border-radius: 5px;
	background-color: rgba(248, 247, 244, 0.2);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

	width: 293px;
	height: 405px;

	z-index: 1;

	display: none;
}

.product-hover .button {
	padding: 14px 16px;
	text-align: center;
	align-self: center;
	order: 1;
	font-weight: 700;
	margin-top: auto;
	margin-bottom: 20px;
	border-bottom: none;
}

.product-hover a:hover {
	color: #ffffff;
}

/*  PAGINATION  */

.catalog-pagination {
	align-self: flex-end;
	display: flex;
	flex-direction: row;

	list-style: none;
	padding: 0;
	margin: 0;

	overflow: hidden;
}

.catalog-pagination li {
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;	
	text-align: center;
	
	width: 25px;
	height: 25px;

	margin-left: 5px;
}

.catalog-pagination li:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}

.catalog-pagination .active {
	background-color: #ffffff;
	border-radius: 50%;
	color: #323232;
}

.catalog-pagination li:first-child {
	text-indent: -9999px;

	height: 25px;
	width: 25px;
	background-image: url("../img/icon-right-small.svg");
	background-position: center;
	background-repeat: no-repeat;

	transform: rotate(180deg);

	opacity: 0.3;
}

.catalog-pagination li:last-child {
	margin-right: 0;
	text-indent: -9999px;

	height: 25px;
	width: 25px;
	background-image: url("../img/icon-right-small.svg");
	background-position: center;
	background-repeat: no-repeat;
}

/*  HIDDEN: BASKET  */

.user-basket {
	width: 540px;
	box-sizing: border-box;

	border-radius: 5px;
	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	color: #323232;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;

	position: absolute;
	top: 60px;
	right: 27px;

	padding: 20px 15px;

}

.catalog-basket-full:hover .user-basket {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	z-index: 1;
}

.basket-table {
	width: 100%;

	border-spacing: 0;
}

.basket-table td {
	padding-bottom: 15px;
}

.user-basket .small-x {
	width: 11px;
	height: 11px;
	text-indent: -9999px;
	background-image: url("../img/cross-small.svg");
	background-color: transparent;
	background-repeat: no-repeat;
}

.user-basket span {
	color: #999999;
}

.basket-sum {
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-align: right;
	padding: 5px 0;

	border-top: 1px solid #cacac7;
}

.basket-table td:nth-child(3) {
	max-width: 230px;
}

.basket-image img {
	border-radius: 50%;
}

.user-basket a {
	color: #ffffff;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	padding: 10px 15px;
	margin-bottom: 10px;
}