@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');

/*	ГЛОБАЛЬНЫЕ	*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'Arial', sans-serif;
	background-color: #849d8f;
	color: #ffffff;
}

a {
	color: inherit;
	text-decoration: none;
}

.product a, .main-nav a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.product a:hover {
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-select, 
.gllacy-input, 
.feedback-textarea {
	font-family: inherit;
	color: #323232;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	border: none;
	box-shadow: 0 0 0 1px #b2b2b2;
}

.catalog-select::-webkit-input-placeholder, 
.gllacy-input::-webkit-input-placeholder, 
.feedback-textarea::-webkit-input-placeholder {
	color: #999999;
	font-weight: 400;
}

.catalog-select:-ms-input-placeholder, 
.gllacy-input:-ms-input-placeholder, 
.feedback-textarea:-ms-input-placeholder {
	color: #999999;
	font-weight: 400;
}

.catalog-select::-ms-input-placeholder, 
.gllacy-input::-ms-input-placeholder, 
.feedback-textarea::-ms-input-placeholder {
	color: #999999;
	font-weight: 400;
}

.catalog-select::placeholder, 
.gllacy-input::placeholder, 
.feedback-textarea::placeholder {
	color: #999999;
	font-weight: 400;
}

.catalog-select:hover, 
.gllacy-input:hover, 
.feedback-textarea:hover {
	box-shadow: 0 0 0 2px #9a9a9a;
	border: none;
}

.catalog-select:focus, 
.gllacy-input:focus, 
.feedback-textarea:focus {
	outline: none;
	border: none;
	box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52); 
}

.gllacy-button {
	color: #fefefe;
	font-weight: 700;
	border: none;

	cursor: pointer;
}

.main-nav, .sub-menu, .user-nav, .slider-content,
.pagintation, .description, .social-links, 
.footer-documents {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*  СОСТОЯНИЯ  */

.main-catalog a:hover, .main-footer a:hover,
.product-list a:hover, .product-list a:focus,
.main-catalog a:focus, .main-footer a:focus {
	color: #ffbc9e;
	outline: none;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.main-blog a:hover, .login a:hover,
.main-blog a:focus, .login a:focus {
	color: #e84d37;
	text-decoration: none;
	border-bottom: 1px solid rgba(232, 77, 55, 0.3);
} 

/*		VISUALLY-HIDDEN		*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*  CONTAINER  */

.container {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	padding-top: 9px;
	padding-right: 27px;
	padding-left: 27px;

}

/*  HEADER  */

.main-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.main-navigation {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
}

.main-navigation, 
.main-nav, 
.user-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: flex-start;
	    -ms-flex-align: flex-start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.main-logo {
	height: 60px;
}

.main-nav {
	margin-left: 14px;
	max-width: 382px;
	padding-top: 10px;
}

.main-nav a {
	display: block;
}

.main-nav li {
	margin-right: 8px;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	
	padding: 10px 10px;
}

.main-nav li:hover,
.main-nav li:focus {
	background-color: #f7f6f3;
	border-radius: 40px;
	color: #333333;
	border: none;	
}

.main-nav li:focus {
	border-radius: 40px;
	-webkit-box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
	        box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
	outline: none;
}

.active {
	background-color: #d07058;
	border-radius: 40px;
	color: #ffffff;
	padding-bottom: 11px;
}

.active a {
	border: none;
}

.user-nav {
	margin-left: auto;
	align-self: flex-start;
    padding-top: 15px;
    justify-content: flex-end;
}

.user-nav a {
	display: block;
	position: relative;
	padding: 8px 34px 8px 44px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 40px;
}

.user-nav a[href="#login"] {
	padding: 8px 16px 8px 43px;
}

.user-nav li {
	margin-right: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.user-nav li:last-of-type {
	margin-right: 0;
}

.user-nav li:first-child {
	text-indent: -9999px;
	width: 32px;
	height: 32px;
	padding: 0;
	background-image: url("../img/loupe.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.user-nav li:first-child a {
	width: 32px;
	height: 32px;
	padding: 0;
}

.user-nav li.main-search:hover {
	text-indent: -9999px;
	width: 32px;
	height: 32px;
	padding: 0;
	background-image: url("../img/loupe-black.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.user-nav li:last-child {
	margin-right: 0;
}

.main-basket-empty a::before {
	content: " ";
	width: 21px;
	height: 19px;
	background-image: url("../img/basket.svg");
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 15px;
	top: 7px;
}

.main-basket-empty a:hover::before {
	content: " ";
	width: 21px;
	height: 19px;
	background-image: url("../img/basket-black.svg");
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 15px;
	top: 7px;
}

.catalog-basket-full {
	background-color: #f7f6f3;
	border-radius: 40px;
	color: #323232;
}

.catalog-basket-full a {
	padding-right: 15px;
}

.catalog-basket-full a.basket-img::before {
	content: " ";
	width: 21px;
	height: 19px;
	background-image: url("../img/basket-red.svg");
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 15px;
	top: 7px;
}

.user-nav a[href="#login"]::before {
	content: " ";
	width: 21px;
	height: 20px;
	background-image: url("../img/entrance-white.svg");
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 15px;
	top: 5px;
}

.user-nav li:nth-child(2):hover a[href="#login"]::before {
	content: " ";
	width: 21px;
	height: 20px;
	background-image: url("../img/entrance.svg");
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 15px;
	top: 7px;
}

.user-nav li:hover {
	background-color: #f8f7f4;
	color: #333333;
	border-radius: 40px;
}

.header-hours {
	font-weight: 700;
	text-align: right;

	position: absolute;
	right: 27px;
	top: 70px;
}

.header-hours p {
	font-size: 14px;
	line-height: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.header-hours b {
	font-size: 22px;
	line-height: 24px;	
}

/*  SLIDER  */

.main-container,
.catalog-container {
	margin-top: 50px;
}

.slide-1 {
	background-color: #849d8f;
}

.slide-2 {
	background-color: #8996a6;
}

.slide-3 {
	background-color: #9d8b84;
}

.main-slider .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-bottom: 35px;
	padding-top: 0;

	min-height: 493px;
}

.slider-content {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
}

.slider-content li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 275px;
}

.slider-content img {
	-webkit-box-ordinal-group: 0;
	    -ms-flex-order: -1;
	        order: -1;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.slider-content h3 {
	font-weight: 700;
	font-size: 60px;
	line-height: 60.35px;
	max-width: 700px;
	text-align: center;
	margin: 0;
}

.slider-button {
	margin: 0 auto;
	margin-top: 30px;
}

.slider-button a {
	display: block;
	font-weight: 700;
	font-size: 32px;
	line-height: 44px;
	padding: 10px 40px;
}

.slider-button a.order {
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.6);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.6);
  border-radius: 40px;
}

.button:hover {
	background-image: 
	-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2)) ),
	-webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
	background-image: 
	-webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) ),
	-webkit-linear-gradient(bottom, #e74a35, #f26843);
	background-image: 
	-o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) ),
	-o-linear-gradient(bottom, #e74a35, #f26843);
	background-image: 
	linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) ),
	linear-gradient(to top, #e74a35, #f26843);
	-webkit-box-shadow: 0px 2px 2px 0px #ac1000;
	        box-shadow: 0px 2px 2px 0px #ac1000;
	border-radius: 40px;
}

.button:focus {
	outline: none;
	background-image: 
	-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07)) ),
	-webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
	background-image: 
	-webkit-linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07) ),
	-webkit-linear-gradient(top, #e74a35, #f26843);
	background-image: 
	-o-linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07) ),
	-o-linear-gradient(top, #e74a35, #f26843);
	background-image: 
	linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07) ),
	linear-gradient(to bottom, #e74a35, #f26843);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
	        box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
	border-radius: 40px;
}

.pagination {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: -41px;
	margin-left: 3px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.pagination button {
	text-indent: -9999px;
	margin-right: 8px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid #ffffff;
	cursor: pointer;
}

.pagination button:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.pagination button:focus {
	outline: none;
	background-color: rgba(255, 255, 255, 1);
}

button.main-slider-active {
	background-color: #ffffff;
}


/*  BANNERS  */

.main-banners .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	padding-top: 0;
}

.main-banners article {
	width: 560px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 15px;
	padding-left: 20px;
	padding-bottom: 4px;
	padding-top: 16px;
	font-weight: 700;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-right: 20px;
}

.main-banners h3 {
	margin: 0;
	font-size: 35px;
	line-height: 41px;
}

.main-banners p {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 43px;
	margin-top: 15px;
}

.main-banners a {
	font-size: 18px;
	line-height: 24px;
	padding: 11px 23px;
	margin-bottom: 20px;
	-ms-flex-item-align: end;
	    align-self: flex-end; 
}

.sale-raspberry {
	background-color: #681122;
	background-image: url("../img/raspberry.jpg");	
	background-position: center;
	background-size: cover;
}

.sale-chocolate {
	background-color: #402619;
	background-image: url("../img/chocolate.jpg");	
	background-position: center;
	background-size: cover;
}

/*  ITEMS  */

.main-catalog .container,
.product-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 30px;
}

.main-catalog article,
.product-list article {
	width: 267px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
}

.product img {
	border-radius: 50%;
	-webkit-box-ordinal-group: 0;
	    -ms-flex-order: -1;
	        order: -1;
}
.product-name  {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
	margin-top: 22px;
	margin-bottom: 0;

	z-index: 10;

	padding: 0 5px;
}

.product-price {
	font-weight: 700;
	font-size: 45px;
	line-height: 45px;
	margin-top: -57px;
}

.product-price span.kg {
	font-size: 30px;
}

.product-price span.rouble {
	display: inline-block;
	vertical-align: baseline;
	width: 35px;
	height: 45px;
	text-indent: -9999px;
	background-image: url("../img/ruble.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.product .promo-text {
	position: absolute;
	top: 0;
	left: 0;
}

.product-list .product-out {
	padding: 0;
}

/*  DESCRIPTION  */

.main-description {
	color: #323232;
	background-color: #eadcc0;
	background-image: url("../img/waffle.jpg");
	border-radius: 20px;
	padding-top: 25px;
	padding-left: 20px;
}

.main-description .description-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin-bottom: 0;
	margin-top: 20px;
}

.description-text li {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 560px;
	margin-bottom: 22px;
	position: relative;
}

.main-description h3 {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	margin: 0;
}

.description-text p {
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	max-width: 480px;
	padding-left: 56px;
}

/*  КАРТИНОЧКИ  */

.description-item p::before {
	content: " ";
	width: 49px;
	height: 49px;
	position: absolute;
	top: -15px;
	left: 0;

	background-image: url("../img/ice-cream.svg");
}

.description-item:nth-child(2) p::before {
	background-image: url("../img/cow.svg");
}

.description-item:nth-child(3) p::before {
	background-image: url("../img/eco.svg");
}

.description-item:nth-child(4) p::before {
	background-image: url("../img/thermometer.svg");
}


/*  ARTICLES && SUBSCRIPTION  */

.temp-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 40px;
}

.main-blog, 
.main-subscription {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 560px;
}

.main-blog {
	padding: 25px 220px 0 20px;
	color: #323232;
	background-color: rgb(255, 255, 255);
	background-image: url("../img/strawberry.jpg");
	background-position: -50px -224px;
	border-radius: 10px;
}

.main-blog p {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	margin-bottom: 5px;
}

.main-blog a {
	text-decoration: underline;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.main-subscription {
	background-image: url("../img/bg-post.svg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}

.main-subscription-bg {
	background-color: #f8f7f4;
	border-radius: 10px;
	margin: 5px;
	padding: 30px 20px 35px 20px;
}

.main-subscription .description {
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
	margin: 0;
	padding-bottom: 37px;
}

.main-subscription .subscribe-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.subscribe-form input {
	border-radius: 5px;
	padding: 10px 14px;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin-right: 10px;
}

.subscribe-form button {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	padding: 0 18px; 
}


/*  MAP  */
.main-map {
	position: relative;	
}

.main-map-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	
	margin: 0 auto;
	
	position: relative;
	width: 1200px;
	min-height: 430px;
}

.main-map .map {
	width: 100%;
	min-height: 430px;

	position: absolute;
	top: 0;

	background-image: url("../img/map-w-pin.jpg");
	background-position: center;
	background-repeat: no-repeat;

	z-index: 10;
}

.main-map-pin {
	content: " ";
	width: 218px;
	height: 142px;

	position: absolute;
	top: 139px;
	left: 266px;

	background-image: url("../img/pin-w-shadow.png");
	background-position: center;
	background-repeat: no-repeat;
}

.main-feedback {
	width: 302px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	background-color: #fdfefe;
	color: #323232;
	border-radius: 10px;

	padding-left: 25px;
	padding-top: 25px;
	padding-bottom: 40px;
	margin-top: 65px;
	margin-right: 27px;

	z-index: 10;
}

.main-feedback p {
	font-size: 14px;
	line-height: 20px;
	margin: 0;
}

.main-feedback b {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.main-feedback a {
	padding: 10px 28px;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #fefefe;
	margin-bottom: 44px;
}

.main-feedback-contacts {
	margin-bottom: 20px;
	padding-right: 20px;
}

.main-feedback-contacts p {
	margin-right: 40%;
}

.main-feedback-phone {
	margin-bottom: 35px;
}

.main-feedback-phone p:first-child {
	margin-bottom: 5px;
}

/*  FOOTER  */

.main-footer .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 18px;
	padding-bottom: 20px;
}

.social-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 10px;
	padding-left: 5px;
}

.social-links li {
	border-radius: 50%;
	margin-right: 12px;
	background-image: url("../img/twitter.svg");
	background-position: center;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	border: 2px solid rgba(255, 255, 255, 0.5);

	opacity: 0.8;
}

.social-links li:last-child {
	margin-right: 0;
}

.social-links li:hover {
	opacity: 1;
}

.social-links li:focus {
	opacity: 0.9;
	border: 2px solid rgba(255, 255, 255, 0.7);
	outline: none;
}

.social-links a {
	display: block;
	text-indent: -9999px;
	height: 100%;
}

.social-links a:hover {
	border: none;
}

.social-links a:focus {
	border: none;
}

.social-links li:nth-child(2) {
	background-image: url("../img/instagram.svg");
}

.social-links li:nth-child(3) {
	background-image: url("../img/fb.svg");
}

.social-links li:last-child {
	background-image: url("../img/vk.svg");
}

.footer-documents {
	min-width: 330px;
	max-height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column wrap;
	        flex-flow: column wrap;

	padding-top: 10px;
	padding-left: 30px;
}

.footer-documents li {
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 5px;
	position: relative;
}

.footer-documents li:nth-child(1),
.footer-documents li:nth-child(3) {
	padding-right: 10px;
}

.footer-documents li:nth-child(2),
.footer-documents li:nth-child(4) {
	margin-bottom: 0;
}

.footer-documents a,
.footer-copyright .copyright-underlined {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-documents a:hover,
.footer-copyright .copyright-underlined:hover {
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-documents li:first-child {
	font-weight: 700;
}

.docs-heart::before {
	content: " ";
	width: 15px;
	height: 13px;
	position: absolute;
	top: 2px;
	left: -22px;
	background-image: url("../img/heart.svg");
}

.footer-copyright a:hover {
	border: none;
}

.footer-copyright a:focus {
	border: none;
}

.footer-copyright p {
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}

/*  FEEDBACK: ANIMATION  */

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInLeft {
  animation-name: zoomInLeft;
  animation-duration: 0.5s;
}

/*  OUT  */

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(.1) translate3d(2000px, 0, 0);
    transform-origin: right center;
  }
}

.zoomOutRight {
  animation-name: zoomOutRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/*  ERROR  */

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
  animation-duration: 1s;
}

/*  HIDDEN: FEEDBACK  */

.feedback {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 477px;
	background-color: #f8f7f4;
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	color: #323232;
	padding-top: 20px;
	padding-left: 23px;
	padding-bottom: 27px;

	position: fixed;
	top: 50%;
	left: 50%;
	
	margin-top: -228px;
	margin-left: -238px;

	z-index: 1000;
}

.feedback p {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	margin-top: 0;
	margin-bottom: 25px; 
}

.feedback-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin-right: 25px;
}

.feedback-form div {
	margin-bottom: 20px; 
}

.feedback-form div:last-of-type {
	margin-bottom: 25px; 
}

.feedback-form input {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 267px;
	border-radius: 5px;
	font-size: 16px;
	line-height: 24px;

	padding: 10px 0 10px 15px;
}

.feedback-form .feedback-textarea {
	width: 428px;
	border-radius: 5px;
	font-size: 16px;
	line-height: 24px;
	
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-top: 10px;
	padding-left: 14px;
}

.feedback-form button {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;

	-ms-flex-item-align: end;
	    align-self: flex-end;
	padding: 10px 24px 10px 24px;
}

.feedback .modal-close {
	text-indent: -9999px;
	width: 18px;
	height: 18px;
	background-image: url("../img/cross-big.svg");
	background-color: transparent;
	background-repeat: no-repeat;

	position: absolute;
	top: 20px;
	right: 17px;
}

.feedback .modal-close:focus {
	outline: none;
}


.overlay:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 100;
}

/*  HIDDEN: SEARCH  */

.search {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 341px;

	position: absolute;
	top: 55px;
	right: 255px;
	padding-top: 5px;

	text-indent: 0;
}

.search-form {
	border-radius: 10px;
	background-color: #f8f7f4;
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	padding: 20px 15px;

}

.search-form input {
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 14px;
	line-height: 24px;
	border-radius: 5px;
	padding: 10px 0 10px 14px;
}

/*  HIDDEN: LOGIN  */

.login {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 277px;
	padding-top: 5px;

	position: absolute;
	top: 55px;
	right: 150px;
}

.login-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;

	background-color: #f8f7f4;
	padding: 20px 20px;

	border-radius: 10px;
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login-form p {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	margin-top: 0;
	margin-bottom: 20px;
}

.login-form input {
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 14px;
	line-height: 24px;
	border-radius: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 14px;
}

.login-form button {
	padding: 10px 24px;
	font-size: 18px;
	line-height: 24px;
}

.login a {
	display: inline;
	color: #323232;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	padding: 0;
	border-radius: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

.login a:hover {
	color: #e84d37;
}

.login-links {
	-ms-flex-preferred-size: 50%;
	    flex-basis: 50%;
	margin-left: auto;
}

/*  HIDDEN: SUB-MENU  */

.sub-menu {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 143px;
	border-radius: 10px;
	color: #323232;

	padding: 0;
	padding-top: 5px;
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

	position: absolute;
	top: 40px;
	left: -15px;
}

.sub-menu li {
	margin-right: 0;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	padding: 0;	
	background-color: #f8f7f4;
}

.divider a {
	font-weight: bold;
}

.divider {
	position: relative;
}

.divider a::after {
	content: " ";
	width: 128px;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	bottom: 0;
	left: 6px;
}

.sub-menu a {
	display: block;
	padding: 10px 0;
	padding-left: 20px;
	border-bottom: none;
}

.sub-menu .sub-menu-active {
	background-color: #d07058;
}

.sub-menu li:hover {
	background-color: #fbded7;
	border-radius: 0;
}

.sub-menu .sub-menu-active:hover {
	background-color: #d07058;
}

.sub-menu li:focus {
	background-color: #f6b5a5;
	outline: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.sub-menu li:first-child,
.sub-menu li:first-child:hover,
.sub-menu li:first-child:focus {
	border-radius: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.sub-menu li:last-child,
.sub-menu li:last-child:hover,
.sub-menu li:last-child:focus {
	border-radius: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

/* ВСПЛЫВАЮЩИЕ ОКНА */

.hidden {
	display: none;
}

.main-catalog-hover {
	position: relative;
}

.main-catalog-hover:hover ul,
.main-search:hover .search,
.main-login-hover:hover .login,
.catalog-basket-full:hover .catalog-basket-wrapper {
	display: block;
	z-index: 11;
}


/*
 ██████╗ █████╗ ████████╗ █████╗ ██╗      ██████╗  ██████╗ 
██╔════╝██╔══██╗╚══██╔══╝██╔══██╗██║     ██╔═══██╗██╔════╝ 
██║     ███████║   ██║   ███████║██║     ██║   ██║██║  ███╗
██║     ██╔══██║   ██║   ██╔══██║██║     ██║   ██║██║   ██║
╚██████╗██║  ██║   ██║   ██║  ██║███████╗╚██████╔╝╚██████╔╝
 ╚═════╝╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝╚══════╝ ╚═════╝  ╚═════╝ 

*/

.catalog-container .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-bottom: 30px;

	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*  BREADCRUMBS  */

.header-container {
	position: relative;
}

.breadcrumbs {
	-webkit-box-ordinal-group: 0;
	    -ms-flex-order: -1;
	        order: -1;
	list-style: none;
	padding: 0;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	margin: 0;
	margin-top: -30px;

	z-index: 10;
}


.breadcrumbs li {
	font-size: 14px;
	line-height: 16px;
}

.breadcrumbs a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-container h1 {
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;
	margin-bottom: 25px;
	margin-top: 4px;
}

.breadcrumbs span {
	margin: 0 7px;
}

/*  FILTER  */

.catalog-filters-form {
	max-width: 879px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.catalog-sort, .catalog-price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.catalog-flavors, .catalog-fat {
	border: none;
	padding: 0;
	margin: 0;
}

.catalog-sort label, 
.catalog-price label,
.catalog-fat legend, 
.catalog-flavors legend {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.catalog-select,
.catalog-price-range, 
.catalog-fat-wrapper,
.catalog-flavors-wrapper {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

.catalog-sort, 
.catalog-price, 
.catalog-fat {
	margin-bottom: 15px;
	margin-right: 15px;
    position: relative;
}

.form-btn, 
.catalog-flavors label, 
.catalog-fat label,
.catalog-sort option {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.catalog-sort label,
.catalog-price label,
.catalog-fat legend,
.catalog-flavors legend {
	margin-bottom: 5px;
	margin-left: 15px;
}

.select-style {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 195px;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);

}

.catalog-select {
  color: #ffffff;
  font-weight: 500; 
	padding: 5px 30px 5px 15px; 
	width: 130%;
  border: none;
  background-color: transparent;
  background-image: none;
	
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  cursor:pointer;

  -webkit-box-shadow: none;
          box-shadow: none;
}

.catalog-select:focus {
    outline: none;
}

.select-style option {
  color: black;
}

.catalog-sort .select-arrow {
	width: 11px;
	height: 10px;
	position: absolute;
	bottom: 16px;
	right: 15px;

	z-index: -1;

	background-image: url("../img/select-arrow.svg");
	background-position: top;
	background-size: cover;
}

.catalog-select:hover {
	color: #323232;
}

.catalog-select:hover + .select-arrow {
	background-image: url("../img/select-arrow-black.svg");
	z-index: 1;
}

.catalog-select:focus {
	color: #323232;
	background-color: #ffffff;
}

.catalog-select:focus + .select-arrow {
	background-image: url("../img/select-arrow-black.svg");
	z-index: 1;
}

.catalog-sort option {
	color: #323232;
}

.catalog-price-range {
	width: 218px;
	height: 36px;

	position: relative;
}

.catalog-price-range::after {
	content: " ";
	width: 176px;
	height: 4px;
	background-color: rgba(255, 255, 255, 0.5);

	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.catalog-price-range::before {
	content: " ";
	width: 106px;
	height: 4px;
	background-color: rgb(248, 247, 244);

	position: absolute;
	top: 50%;
	left: 37px;
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}

.catalog-price-range .price {
	width: 20px;
	height: 20px;
	border: none;
	padding: 0;

	position: absolute;
	top: 50%;
	left: 34px;
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);

	background-image: url("../img/filter-button.svg");
	background-color: transparent;

	z-index: 10;
	cursor: pointer;
}

.catalog-price-range .price:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	top: 7px;
}

.catalog-price-range .price:focus {
	outline: none;
}

.catalog-price-range .max {
	left: 132px;
}

/* ЖИРНОСТЬ */

.catalog-fat {
	margin-right: 0;
}

.catalog-fat-wrapper {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 414px;
	padding: 10px 0 10px 45px;
}

.catalog-fat label {
	position: relative;
	margin-right: 45px;
	cursor: pointer;
}

.catalog-fat label:last-child {
	margin-right: 0;
}

.catalog-fat input[type="radio"] + .radio-input {
	position: absolute;
	top: -1px;
	left: -32px;

	width: 22px;
	height: 22px;

	background-image: url("../img/radio-off.svg");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.8;
}

.catalog-fat input[type="radio"]:checked + .radio-input {
	background-image: url("../img/radio-on.svg");
}

.catalog-fat input[type="radio"]:hover + .radio-input,
.catalog-flavors input[type="checkbox"]:hover + .checkbox-input {
	opacity: 1;
}

.catalog-fat input[type="radio"]:disabled + .radio-input,
.catalog-flavors input[type="checkbox"]:disabled + .checkbox-input {
	opacity: 0.4;
}

/* НАПОЛНИТЕЛИ */

.catalog-flavors-wrapper {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 702px;
	padding: 10px 0 10px 45px;

	margin-right: 14px;
}

.catalog-flavors label {
	position: relative;
	margin-right: 50px;
	cursor: pointer;
}

.catalog-flavors label:last-child {
	margin-right: 0;
}

.catalog-flavors input[type="checkbox"] + .checkbox-input {
	position: absolute;
	top: -1px;
	left: -32px;

	width: 23px;
	height: 23px;

	background-image: url("../img/checkbox-off.svg");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.8;
}

.catalog-flavors input[type="checkbox"]:checked + .checkbox-input {
	background-image: url("../img/checkbox-on.svg");
	width: 27px;
}

.form-btn {
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px solid #ffffff;
	border-radius: 20px;
	width: 143px;
	height: 36px;

	-ms-flex-item-align: end;
	    align-self: flex-end;

	-webkit-box-shadow: none;
	        box-shadow: none;

	cursor: pointer;
}

.form-btn:hover {
	background-color: rgb(255, 255, 255);
	color: #323232;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.form-btn:focus {
	-webkit-box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
	        box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
	background-color: rgb(234, 234, 234);
	color: #323232;

}

/*  PRODUCT LIST  */

.product-list {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 40px;
	margin-bottom: 45px;
}

.product-list .product {
	margin-bottom: 35px;
	position: relative;
}

/*  HOVER  */

.product:hover .product-hover {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;	
}

.product-hover {
	position: absolute;
	left: -13px;
	top: -6px;
	border-radius: 5px;
	background-color: rgba(248, 247, 244, 0.2);
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

	width: 293px;
	height: 405px;

	z-index: 1;

	display: none;
}

.product-hover .button {
	padding: 14px 16px;
	text-align: center;
	-ms-flex-item-align: center;
	    align-self: center;
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
	font-weight: 700;
	margin-top: auto;
	margin-bottom: 20px;
	border-bottom: none;
}

.product-hover a.button:hover {
	color: #ffffff;
	border-bottom: none;
}

/*  PAGINATION  */

.catalog-pagination {
	-ms-flex-item-align: end;
	    align-self: flex-end;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;

	list-style: none;
	padding: 0;
	margin: 0;

	overflow: hidden;
}

.catalog-pagination li {
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;	
	text-align: center;
	
	width: 25px;
	height: 25px;

	margin-left: 3px;
}

.catalog-pagination li:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}

.pagination-active {
	background-color: #ffffff;
	border-radius: 50%;
	color: #323232;
}

.catalog-pagination li:first-child {
	text-indent: -9999px;

	height: 25px;
	width: 25px;
	background-image: url("../img/icon-right-small.svg");
	background-position: center;
	background-repeat: no-repeat;

	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);

	opacity: 0.3;
}

.catalog-pagination li:nth-child(2) {
	margin-left: 7px;
}

.catalog-pagination li:nth-child(3) {
	margin-left: 6px;
}

.catalog-pagination li:last-child {
	margin: 0;
	text-indent: -9999px;

	height: 25px;
	width: 25px;
	background-image: url("../img/icon-right-small.svg");
	background-position: center;
	background-repeat: no-repeat;
}

/*  HIDDEN: BASKET  */

.catalog-basket-wrapper {
	padding-top: 5px;
	width: 540px;

	position: absolute;
	top: 55px;
	right: 27px;
}

.user-basket {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	border-radius: 5px;
	background-color: #f8f7f4;
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	color: #323232;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;

	padding: 20px 15px;

}

.catalog-basket-full:hover .user-basket {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;

	z-index: 1;
}

.basket-table {
	width: 100%;

	border-spacing: 0;
}

.basket-table td {
	padding-bottom: 15px;
}

.user-basket .small-x {
	width: 11px;
	height: 11px;
	text-indent: -9999px;
	background-image: url("../img/cross-small.svg");
	background-color: transparent;
	background-repeat: no-repeat;
}

.user-basket span {
	color: #999999;
}

.basket-sum {
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-align: right;
	padding: 5px 0;

	border-top: 1px solid #cacac7;
}

.basket-table td:nth-child(3) {
	max-width: 230px;
}

.basket-image img {
	border-radius: 50%;
}

.user-basket a {
	color: #ffffff;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	padding: 10px 15px;
	margin-bottom: 10px;
}